@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas-webfont.eot');
    src: url('fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas-webfont.woff') format('woff'),
         url('fonts/bebas-webfont.ttf') format('truetype'),
         url('fonts/bebas-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_condensedbold';
    src: url('../fonts/helvetica-condensed-bold-webfont.eot');
    src: url('../fonts/helvetica-condensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-condensed-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-condensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-condensed-bold-webfont.svg#helvetica_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_condensedlight';
    src: url('../fonts/helveticaltstd-lightcond.eot');
    src: url('../fonts/helveticaltstd-lightcond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-lightcond.woff') format('woff'),
         url('../fonts/helveticaltstd-lightcond.ttf') format('truetype'),
         url('../fonts/helveticaltstd-lightcond.svg#helvetica_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #1b1b1b;
  font: normal 1em/1.38 'helvetica_condensedlight';
  color: rgb(0, 0, 0);
}

.container img {
  top: 0;
}

.container-d img,
.container-8 img {
  left: -2.6875%;
  width: 25px;
}

.container-e img,
.container-9 img {
  left: -0.375%;
  width: 25px;
}

.scrollblock-c img {
  top: 246px;
  left: 0;
  right: 0;
  z-index: 6;
  width: 400px;
  margin: 0 auto;
}

img {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.background {
  width: 100%;
}

.contact {
  position: absolute;
  left: 0;
  right: 0;
  width: 300px;
  min-height: 27px;
  margin: 0 auto;
  font-family: "bebasregular";
  line-height: 1.38;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(0,0,0);
}

.container-1a {
  position: relative;
  z-index: 30;
  padding-top: 100px;
}

.container {
  position: absolute;
}

.container .text {
  top: 216px;
  font: 1.125em 'helvetica_condensedbold';
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(0,0,0);
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 682px;
  background-color: rgba(255, 255, 255, 0.89);
}

.image {
  left: 0;
}

.scrollblock {
  position: relative;
  float: left;
  width: 100%;
}

.scrollblockb {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 70px;
}

.scrollblock .background {
  position: absolute;
  top: 0;
}

.text {
  position: absolute;
  text-align: center;
}

.background-a {
  position: absolute;
  top: 0;
  z-index: 37;
  height: 70px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.background-b {
  position: relative;
  float: left;
  z-index: 36;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.background-c {
  left: 0;
  right: 0;
  z-index: 33;
  height: 292px;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
}

.background-d {
  left: 0;
  z-index: 9;
  height: 432px;
  background-color: rgb(255, 255, 255);
}

.background-e {
  position: relative;
  float: left;
  z-index: 0;
  height: 100px;
  background-color: rgb(246, 246, 246);
}

.contact-a {
  top: 50px;
  z-index: 2;
}

.contact-b {
  top: 23px;
  z-index: 1;
}

.container-a {
  top: 108px;
  z-index: 30;
  width: 449px;
  height: 265px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.container-b {
  top: 0;
  left: 61.692650334%;
  z-index: 29;
  width: 172px;
  height: 265px;
}

.container-c {
  top: 240px;
  left: 0;
  right: 0;
  z-index: 28;
  width: 63px;
  height: 25px;
  margin: 0 auto;
}

.container-d {
  top: 0;
  left: 59.5238095238%;
  z-index: 27;
  width: 39.6825396825%;
  height: 25px;
}

.container-e {
  top: 0;
  left: 0;
  z-index: 24;
  width: 39.6825396825%;
  height: 25px;
}

.container-f {
  z-index: 19;
  width: 164px;
  height: 267px;
}

.container-g {
  top: 242px;
  left: 0;
  right: 0;
  z-index: 18;
  width: 63px;
  height: 25px;
  margin: 0 auto;
}

.container-h {
  top: 0;
  left: 59.5238095238%;
  z-index: 17;
  width: 25px;
  height: 25px;
  background-image: url('../images/EmailGray.jpg');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.container-h:hover {
  background-image: url('../images/EmailRed.jpg');
  background-size: 22px 22px;

}

.container-i {
  z-index: 14;
  width: 25px;
  height: 25px;
  background-image: url('../images/TwitterGray.jpg');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-i:hover {
  background-image: url('../images/TwitterBlue.jpg');
  background-size: 22px 22px;
}

.linkto {
  display: block;
  padding: 10px;
}

.element-a {
  z-index: 5;
}

.element-b {
  z-index: 4;
  background-image: url('../images/boulder.jpg');
  background-size: 1500px auto;
  background-position: center center;
}

.image-a {
  z-index: 26;
}

.image-j {
  z-index: 10;
  width: 164px;
}

.image-b {
  z-index: 25;
}

.image-c {
  z-index: 23;
}

.image-d {
  z-index: 22;
}

.image-e {
  z-index: 20;
  width: 172px;
}

.image-f {
  z-index: 16;
}

.image-f:hover {
}

.image-g {
  z-index: 15;
  display: none;
}

.image-h {
  z-index: 13;
}

.image-h:hover {
  visibility: hidden;  
}

.image-i {
  z-index: 12;
}

.scrollblock-a {
  clear: both;
  z-index: 35;
  height: 292px;
  top: 70px;
}

.scrollblock-b {
  z-index: 32;
  height: 432px;
  background-color: #fff;
}

.scrollblock-c {
  clear: both;
  z-index: 40;
  height: 682px;
  margin-top: 0px;
}

.text-a {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 34;
  width: 752px;
  height: 180px;
  margin: auto;
  font-size: 2em;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

.text-b {
  display: inline-block;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 31;
  width: 100%;
  margin: 0 auto;
  font-family: "bebas_neueregular";
  font-size: 1.75em;
  letter-spacing: 5px;
  color: rgb(0,0,0);
}

.text-c {
  left: 0;
  z-index: 21;
  width: 172px;
}

.text-d {
  left: 0;
  right: 0;
  z-index: 11;
  width: 164px;
  margin: 0 auto;
}

.text-e {
  top: 168px;
  left: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  margin: 0 auto;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

@media(max-width: 950px) {
  div img {
    height: auto;
  }

  
  ._container .contact-b,
  .container .container-c,
  .container .container-g,
  .container .text-d,
  .scrollblock .background-c,
  .scrollblock .text-b,
  .scrollblock .text-e,
  .scrollblock-c img, {
    margin-right: auto;
    margin-left: auto;
  }

  header img {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1a {
    display:none;
  }

  .scrollblock {
    position: relative;
    top: 70px;
  }

  .background-b {
    position: relative;
    z-index: 36;
  }

  .scrollblock .text-a {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 450px;
    height: 235px;
    margin: auto;
    font-size: 1.75em;
  }

  .scrollblock-a {
    right: 0;
    left: 0;
    z-index: 35;
  }

  .scrollblock-b {
    clear: both;
    z-index: 32;
  }

  .scrollblock-c {
    z-index: 8;
  }

  ._container .background-a {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }

  ._container .background-e {
    position: relative;
    z-index: 0;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .scrollblock .text-a {
    font-size: 1.1em;
    width: 90%;
    height: 150px;
  }

  .image-e,
  .image-j {
    width: 50%;
    margin: 0 25%;
  }

  .container-g,
  .container-c {
    top: 240px;
  }

  .background-d,
  .scrollblock-b {
    height: 710px;
  }

  .scrollblock-c img {
    width: 300px;
  }

  ._container-13 {
    z-index: 40;
  }

  .container-a {
    width: 100%;
    top: 0;
  }

  .container-b {
    width: 100%;
    left: 0;
    top: 100px;
  }

  .container-f {
    top: 420px;
    width: 100%;
  }

  .text-d,
  .text-c {
    width: 100%;
    margin: 0;
  }

  .text-b {
    top: 20px;
  }
}

/* grid
.grid {
  
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  background-color: #cc0019;
}

.grid li {
  position: relative;
  float: left;
  font-size: 12em;
  line-height: 1.5;
  max-height: 290px;
  text-align: center;
  width: 14.286%;
  width: -webkit-calc(100% / 7);
  width: calc(100% / 7);
}
.grid li span {
  display: inline-block;
  font-weight: 900;
  position: relative;
  font-family: 'helvetica_condensedlight';
  color: hsla(0, 0%, 0%, 0.6);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 550px;
  -ms-perspective: 550px;
  perspective: 550px;
  z-index: 1000;
}

.grid li span:before,
.grid li span:after {
  position: absolute;
  content: attr(data-letter);
  line-height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.grid li span:before {
  text-shadow: none;
  color: hsla(0, 0%, 0%, 0.12);
}

.ot-letter-left { background: #1b1b1b; }
.ot-letter-left span { text-shadow: 1px 4px 6px #1b1b1b, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #1b1b1b; }
.ot-letter-left span:after { color: #1b1b1b; }
.ot-letter-left:hover span:after { color: #1b1b1b; }

.ot-letter-right { background: #1b1b1b; }
.ot-letter-right span { text-shadow: 1px 4px 6px #1b1b1b, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #1b1b1b; }
.ot-letter-right span:after { color: #1b1b1b; }
.ot-letter-right:hover span:after { color: #1b1b1b; }

.ot-letter-top { background: #1b1b1b; }
.ot-letter-top span { text-shadow: 1px 4px 6px #1b1b1b, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #1b1b1b; }
.ot-letter-top span:after { color: #1b1b1b; }
.ot-letter-top:hover span:after { color: #1b1b1b; }

.ot-letter-bottom { background: #1b1b1b; }
.ot-letter-bottom span { text-shadow: 1px 4px 6px #1b1b1b, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #1b1b1b; }
.ot-letter-bottom span:after { color: #1b1b1b; }
.ot-letter-bottom:hover span:after { color: #1b1b1b; }

.ot-letter-left span:before,
.ot-letter-left span:after {
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.ot-letter-left span:before {
  -webkit-transform: scale(1.08,1) skew(0deg,1deg);
  -ms-transform: scale(1.08,1) skew(0deg,1deg);
  transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
  text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
  -webkit-transform: rotateY(-15deg);
  -ms-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
  -webkit-transform: scale(0.85,1) skew(0deg,20deg);
  -ms-transform: scale(0.85,1) skew(0deg,20deg);
  transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
  -webkit-transform: rotateY(-40deg);
  -ms-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}

.ot-letter-right span:before,
.ot-letter-right span:after {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.ot-letter-right span:before {
  -webkit-transform: scale(0.85,1) skew(0deg,1deg);
  -ms-transform: scale(0.85,1) skew(0deg,1deg);
  transform: scale(0.85,1) skew(0deg,1deg);
}

.ot-letter-right span:after {
  text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -3px 0px 1px hsla(0, 0%, 0%, 0.4);
  -webkit-transform: rotateY(15deg);
  -ms-transform: rotateY(15deg);
  transform: rotateY(15deg);
}

.ot-letter-right:hover span:before {
  -webkit-transform: scale(0.85,1) skew(0deg,-20deg);
  -ms-transform: scale(0.85,1) skew(0deg,-20deg);
  transform: scale(0.85,1) skew(0deg,-20deg);
}

.ot-letter-right:hover span:after {
  -webkit-transform: rotateY(40deg);
  -ms-transform: rotateY(40deg);
  transform: rotateY(40deg);
}

.ot-letter-top span:before,
.ot-letter-top span:after {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.ot-letter-top span:before {
  -webkit-transform: scale(1,0.95) skew(-4deg,0deg);
  -ms-transform: scale(1,0.95) skew(-4deg,0deg);
  transform: scale(1,0.95) skew(-4deg,0deg);
}

.ot-letter-top span:after {
  text-shadow: 0px 1px 0px hsla(360, 100%, 100%, 0.1), 0px -3px 1px hsla(0, 0%, 0%, 0.4);
  -webkit-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}

.ot-letter-top:hover span:before {
  -webkit-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
  -ms-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
  transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
}

.ot-letter-top:hover span:after {
  -webkit-transform: translateY(-0.035em) rotateX(-40deg);
  -ms-transform: translateY(-0.035em) rotateX(-40deg);
  transform: translateY(-0.035em) rotateX(-40deg);
}

.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.ot-letter-bottom span:before {
  -webkit-transform: scale(1,1.05) skew(4deg,0deg);
  -ms-transform: scale(1,1.05) skew(4deg,0deg);
  transform: scale(1,1.05) skew(4deg,0deg);
}

.ot-letter-bottom span:after {
  text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
  -webkit-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

.ot-letter-bottom:hover span:before {
  -webkit-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
  -ms-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
  transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
}

.ot-letter-bottom:hover span:after {
  -webkit-transform: translateY(0.045em) rotateX(40deg);
  -ms-transform: translateY(0.045em) rotateX(40deg);
  transform: translateY(0.045em) rotateX(40deg);
}*/

